

#icono {
    width: 50px;
    height: 50px;
}

#title-especifidad{
    color: black;
    transition: color 0.4s ease;
    /* transición */

}


#title-especifidad:hover {
    color: #5079f6;
    /* Cambio de color al pasar el cursor sobre el título */
}