body{
    background-color:white;
}

#icono {
    width: 50px;
    height: 50px;
}

#tituloPrincipal {
    color: aliceblue;
    font-family: Arial, sans-serif;
    font-size: 20px;
    /* Cambia el tamaño del texto*/
    font-weight: bold;
    /* Hace el texto en negrita */
}



  /* Estilo base del título */
  h1 {
    color: black;
    transition: color 0.4s ease; /* transición */
}

/* Cambio de color al pasar el cursor sobre el título */
h1:hover {
    color:rgb(23, 23, 88);
}




#imgen2{
display: flex;
float: right; /* Flotar la imagen hacia la derecha */
margin-left: 20px; /* Añadir un espacio a la izquierda de la imagen */
   
 
}


    




#cursos {
    padding-top: 20%;
    padding-bottom: 20%;
    max-width: 80%;
   
}

.img-cursos {
    height: 256px;
    object-fit: contain;

}


#cuadroConte{
    background-color: white;
}


