body{
    background-color: white;
    
}


#container1{
    background-color: #111827;
       padding: 100px;
       padding-top: 50px;
}


#icono {
    width: 50px;
    height: 50px;
}


#title-video{
    color: white;
    transition: color 0.4s ease;
    /* transición */

}


#title-video:hover {
    color: #5079f6;
    /* Cambio de color al pasar el cursor sobre el título */
}
